<!DOCTYPE html>
<head>
  
  {% block head %}
  
  <title> {% block title %} {% endblock %}
    | Bourbon Chocolate
  </title>
  
  {% endblock %}

</head>

<body>

  <header>
    {% block navbar %}
    
    <h1>Blog</h1>

    <a href = "/"> Homepage </a>
    
    {% endblock %}
  </header>
  
  <hr>
  
  <section>
    <br>

    {% block content %}

    {% endblock %}

  </section>

  <footer>
    <br>
    <hr>

    {% block footer %}
      <small>&copy Copyright 2018 Bourbon Chocolate</small>
    {% endblock %}

  </footer>

</body>

</html>
