{% for post_id, title, content, author, timestamp in posts %}
<div>
    <table border="1" width="495">
    <tr> <th>
    <a href="/post/{{post_id}}">{{title}}</a> <br>
        Created by
    <a href="/author/{{author}}">{{author}}</a>
    {% if author == logged_in %}
        <br>
        <a href="/edit/{{post_id}}">(Edit)</a>
    {% endif %}
    <br>
    <span>{{timestamp}}</span>
    </th></tr>
    <tr> <td>
        {% autoescape false %}
            {{content}}
        {% endautoescape %}
    </td> </tr>
    </table>
    <br>
</div>
{% endfor %}
